# set cloulab or kind as the default mode
mode: cloudlab

cloudlab:
  ssh_user: <user>
  ssh_key:  /Users/<your-user>/ssh

  # dummy ip nodes
  nodes:
    - 128.110.217.150   
    - 128.110.217.139 
    - 128.110.217.130   

# fallback to kind if cloublab is not avilable 
kind:
  ssh_user: <your-user>
  ssh_key: ~/ssh

  # point to kind configs here
  kind_config_x86: <path-to>/kind/kind-config-arm.yaml
  kind_config_arm: <path-to>/kind/kind-config-arm.yaml

pod_network_cidr: 192.168.0.0/16
