# Exact installed versions from the pinned upstream Python 3.7 action image.
attrs==21.2.0
Automat==20.2.0
beautifulsoup4==4.6.3
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
httplib2==0.11.3
hyperlink==21.0.0
idna==2.7
incremental==21.3.0
kafka-python==1.4.3
lxml==4.2.5
parsel==1.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pyOpenSSL==20.0.1
python-dateutil==2.7.3
queuelib==1.6.1
requests==2.19.1
Scrapy==1.5.1
service-identity==21.1.0
simplejson==3.16.0
six==1.16.0
Twisted==18.7.0
urllib3==1.23
virtualenv==16.0.0
w3lib==1.22.0
zope.interface==5.4.0
